.password-input{
    display: flex;


    border: 1px solid #ccc;
    border-radius: 8px;

    padding: 3px;

    input{
        width: 100%;

        margin-top: 5px;

        outline: none;
        border:none;

    }
    .suffixIcon{
       display: flex;
        align-items: center;

        font-size: 1.25rem;
        cursor: pointer;
    }
}