.form-container {
    background-color: var(--color-surface-elevated);

    max-width: 400px;

    margin: 50px auto;
    padding: 20px;

    border-radius: 12px;

    box-shadow: var(--shadow);


     h2 {
        text-align: center;

        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }

     button {
        background-color: var(--color-primary);
        color: var(--color-Opposite-primary);

        width: 100%;
        padding: 12px;

        font-weight: bold;

        border: none;
        border-radius: 8px;
        margin-top: 20px;

        cursor: pointer;

        transition: background-color 0.3s ease;
     &:hover {
        background-color: var(--color-primary-hover);
    }
    }

}
