.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block-start: 2rem;

    nav {
        >ul {

            display: flex;
            gap: 2rem;
            >li {

                >a {

                    font-size: 1rem;
                    font-weight: 700;
                    transition: 0.2s;

                    &:hover{
                        color: var(--color-primary-hover);
                    }

                    &.active{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
